.nav{
    
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 70px;
    z-index: 100;
    transition: all 0.5s ease-in;
    
}

.nav_black{
background-color: #111;
}

.nav_content{
    display: flex;
    justify-content: space-between;
}

.logout_btn{
position: fixed;
right: 80px;
color: white;
cursor: pointer;
background-color: transparent;
border-radius: 4px;
font-weight: bold;
padding: 10px 20px;
top: 15px;
font-weight: 900;
}


.nav_logo{
    width: 200px;
    cursor: pointer;
    position: fixed;
    padding-left: 20px;
    left: 0;
    z-index: 100;
    top: -10px;
   
}

.nav_avatar{
    width: 40px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 100;
}

.search_box{
    position: fixed;
    right:220px;
    top: 21px;
    padding: 8px 15px;
    width: 50px;
    background: rgba(255, 255, 255,0.5);
    border-radius: 16px;
    border: none;
    outline: none;
    transition: 0.5s all ease;
    font-size: 16px;
}

#search_icon{
    position: fixed;
    cursor: pointer;
    right: 230px;
    top: 28px;
    font-weight: bold;
    
}
.search_box:focus{
    width: 200px;
}

@media screen and (max-width:580px) {
    .nav_logo{
        width: 120px;
        padding-left: 0px;
    }
    .nav_avatar{
        visibility: hidden;
    }
    .logout_btn{
        right: 10px;
      
        padding: 5px 10px;
    }
}