@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.sign-in{
    background: url('../images/pic1.jpg') rgba(22, 22, 22, 0.55);
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  

  }

  .logo{
      width: 150px;
     position: absolute;
      margin-left: 20px;
      left: 0;
      top: 0;
  }
 
  
  .sign-in_container {
    background: rgba(0, 0, 0, 0.8);
    height: 500px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    
  }
  
  .sign-in_container h1 {
    color: white;
    height: 50px;
    margin: 10px 0;
    
  
  }
    
  .sign-in_content {
    display: flex;
    flex-direction: column;
  justify-content: center;

    
  }
  .sign-in_form{
    display: flex;
    flex-direction: column;
  }
  .sign-in_form label{
    color: white;
    font-weight: bold;
  }
  
  .sign-in_form input{
    width: 330px;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    transition: all 0.15s;
    background: #333;
    outline: none;
    color: white;
  }
  .sign-in_form input:focus{
    border-bottom:2px solid rgb(255, 153, 0);
  }
  
  .sign-in_form button{
    width: 330px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #e50914;
    color: white;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
  }
  .signup{
    color: white;
    margin-top: 20px;
   
  }

  .signup .grey_text{
    color: gray;
  }

  .signup_link:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  @media screen and (max-width:450px) {
    .logo{
      width: 100px;
    }
      .sign-in_container{
        width: 350px;
          height: 400px;
          margin: auto;
      }

      .sign-in_content{
        margin: 10px;
      }
      
      .sign-in_form input{
        width: 300px;
      }
      .sign-in_form button{
        width: 300px;
      }
  }

  @media screen and (max-width:350px) {
    .logo{
      width: 100px;
    }
    .sign-in_container{
      width: 282px;
    }

    .sign-in_form input{
      width: 240px;
    }
    .sign-in_form button{
      width: 240px;
    }
  }